DB_HOST=localhost
DB_PORT=5432
DB_NAME=mensageria_pubsub
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
PUBSUB_PROJECT_ID=serjava-demo
PUBSUB_SUBSCRIPTION=sub-grupo1
PUBSUB_TOPIC=pedidos-topic
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json
